
.container {
width: calc(75%);
margin: auto;
}

/* The inline-block display positions the #sections and #vis elements side-by-side while still providing a width and height. We also make the #vis position fixed, which makes it stay in the same place, even as we scroll.  */

#sections {
position: relative;
display: inline-block;
width: calc(20% - 40px);
margin-left: 20px;
margin-right: 20px;
top: 0px;
z-index: 90;
}

#vis {
display: inline-block;
position: fixed;
top: 60px;
margin-left: 20px;
margin-right: 20px;
background-color: #ddd;
z-index: 1;
}

/* The margin on the .step elements ensures we have some space to scroll in for each section. */
.step {
line-height: 10px;
margin-bottom: 300px;
}

*{
  font-family: 'Open Sans', sans-serif;
  font-size: .8rem;
  }

p {
  font-size: .9rem;
  color: ;
}

a {
color: #cc0052;
}

.title {
line-height: 15px;
font-size: 1.4rem;
font-weight: bold;
color: #256cb2;
}

h1 {
font-size: 1.6rem;
font-weight: bold;
color: #256cb2;
}

.header {
 margin: auto;
 width: calc(100% - 40px);
 text-align: center;
 margin-top: 20px;
 margin-left: 20px;
 margin-right: 20px;
 margin-bottom: 30px;
}
